@import "normalize/default";
@import "normalize/custom";

@import "variables/wrap-margin";
@import "variables/colors";
@import "variables/animations";

html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

body {
  background-color: #222222;

  color: $main--color;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@import "parts/base";
@import "parts/header";
@import "parts/home";
@import "parts/works";
